<div class="form form--mid">
  <div class="form__container">
  <h2>Create article</h2>
    <%= form_for(@article) do |f| %>
     <%= render 'shared/errors', object: @article %>
          <div class="input-box">
            <%= f.text_field :title, required: "required" %>
            <span>Title</span>
            <i></i>
          </div>
          <div class="input-box">
            <%= f.text_area :content, required: "required" %>
            <span>content</span>
            <i></i>
          </div>
          <div class="input-box">
            <%= f.file_field :image %>
            <span>Image</span>
            <i></i>
          </div>
          <%# <div class="input-box"> %>
            <%# <span>password Confirmation</span> %>
            <%# <i></i> %>
          <%# </div> %>
          <%= f.submit "Create Article", class: "btn" %>
    <% end %>
  </div>
</div>