<div class="home">
   <div class="home__top">
      <div class="slider">
         <% @most_rated_articles.each do |article| %>
            <div class="slider__overlay"></div>
            <div class="slider__bg" <% if article.image.attached? %>style="background: url(<%= rails_blob_url(article.image) %>)"<% end %>>
               <div class="slider__bg__title" id="rated_title">
                  <%=  link_to "#{article.title}", article_path(article), class:"title-link" %>
               </div>
               <div class="slider__bg__content">
                     <%= truncate(article.content, length:100, separator:' ') %>
               </div>
            </div>    
         <% end %>
      </div>
      <div class="weather">
           <%= image_tag('weather.jpg', :alt => "weather pic") %>
      </div>
   </div>
   <div class="home__recent">
      <%= render 'recent_article', obj:@recent_articles %>
   </div>
</div>
