<div class="home">
   <div class="home__top">
      <div class="slider">
         
            <div class="slider__overlay"></div>
            <div class="slider__bg" <% if @most_rated_articles.image.attached? %>style="background: url(<%= cloudinary_url(@most_rated_articles.image.key) %>);background-repeat: no-repeat; background-size: 100% 100%;"<% end %>>
               <div class="slider__bg__title" id="rated_title">
                  <%=  link_to "#{@most_rated_articles.title}", article_path(@most_rated_articles), class:"title-link" %>
               </div>
               <div class="slider__bg__content">
                     <%= truncate(@most_rated_articles.content, length:100, separator:' ') %>
               </div>
            </div>    
         
      </div>
      <div class="weather">
           <%= image_tag('weather.jpg', :alt => "weather pic") %>
      </div>
   </div>
   <div class="home__recent">
      <%= render 'recent_article', obj:@recent_articles %>
   </div>
</div>
