<header class="header">
 <h2 class="header__logo">LiFEsTlye<span class="header__logo__dot"></span></h2>
    <% items = ['Home', 'Dropdown Menu', 'Mega menu', 'Blog', 'About' ] %>
    <nav>
        <ul class="header__menu">
                <li>
                  <%= link_to 'Home', root_path, class: "header__menu__item" %>
                </li>
                
               
                <li>
                  <%= link_to 'About', '#', class: "header__menu__item" %>
                </li>
                
        </ul>
    </nav>
    <div class="header__user">
    <ul>
    
    <% if current_user %>
    <li class="dropdown">
                    <%= link_to 'Dropdown Menu', '#', class: "header__menu__item" %>
                    <%= render 'layouts/header/dropdown' %>
                </li>
                <li class="dropdown">
                    <%= link_to 'Dropdown Menu', '#', class: "header__menu__item" %>
                    <%= render 'layouts/header/dropdown' %>
                </li>
                <li>
                  <%= link_to 'Logout', logout_path, data: { turbo_method: :delete }, class: "header__menu__item" %>
                <li>
                <% else %>
                <li>
                  <%= link_to 'Login', login_path, class: "header__menu__item" %>
                </li>
                <li>
                  <%= link_to 'Register', new_user_path, class: "header__menu__item" %>
                </li>
                <% end %>
                </ul>
    </div>
</header>